
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}


.main-content {
    max-width: 800px;
    margin: 0 auto;
}


h1, h2, h3 {
    font-weight: bold;
    color: #333;
}


a:hover {
    text-decoration: underline;
}
